* { padding: 0; margin: 0; }

a { text-decoration: none; color: black; }

ul { list-style: none; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#index-i { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-style: none none solid none; border: 2px solid rgba(128, 128, 128, 0.329); }

.index-top { width: 1000px; float: left; }

.index-top .index-top-1 { width: 1000px; padding: 10px 0; float: left; }

.index-top .index-top-1 .index-top-a { float: left; }

.index-top .index-top-1 .index-top-a div { float: left; }

.index-top .index-top-1 .index-top-a div img { width: 150px; }

.index-top .index-top-1 .index-top-a ul { float: left; }

.index-top .index-top-1 .index-top-a ul li { font-size: 18px; width: 50px; float: left; padding: 30px 0 0 0; margin-left: 50px; }

.index-top .index-top-1 .index-top-b { padding-top: 31px; float: right; }

.index-top .index-top-1 .index-top-b .index-top-b-magnifier { width: 50px; float: left; }

.index-top .index-top-1 .index-top-b .index-top-b-magnifier img { width: 30px; }

.index-top .index-top-1 .index-top-b .index-top-b-input { float: left; }

.index-top .index-top-1 .index-top-b .index-top-b-input input { width: 60px; height: 30px; border: 1px solid red; border-radius: 5px; background-color: white; color: red; }

.about-1 { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 50px 0; }

.about-1 .about-box { width: 1000px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.about-1 .about-box .about-left { width: 210px; height: 300px; padding: 20px; background: #9c979733; }

.about-1 .about-box .about-left .about-help { border-bottom: 1px solid; font-size: 24px; font-weight: 600; padding: 10px 10px 5px; color: rgba(0, 0, 0, 0.753); }

.about-1 .about-box .about-left .about-left-div1 { padding: 10px; font-weight: 600; }

.about-1 .about-box .about-left .about-left-div1 ul li { padding: 5px 5px 0 10px; font-weight: 500; color: rgba(0, 0, 0, 0.623); }

.about-1 .about-box .about-left .about-left-div1 ul li a { color: rgba(0, 0, 0, 0.623); }

.about-1 .about-box .about-left .about-left-div1 span { color: rgba(0, 0, 0, 0.699); }

.about-right { width: 700px; padding: 20px; background: #9c979733; }

.about-right .about-hezuo .about-div1 { font-size: 24px; font-weight: 600; padding: 10px 0 5px; border-bottom: 1px solid; color: rgba(0, 0, 0, 0.753); }

.about-right .about-hezuo span { color: rgba(53, 51, 51, 0.719); }

.about-right .about-hezuo .about-div2 { font-weight: 600; padding: 25px 0; color: rgba(0, 0, 0, 0.699); }

.about-right .about-hezuo .about-div3 { font-weight: 600; color: rgba(0, 0, 0, 0.719); padding: 40px 0; }

.about-right .about-hezuo .about-div4 { font-size: 20px; font-weight: 600; color: rgba(0, 0, 0, 0.623); }

.pale { display: inline-block; padding: 20px 0 20px 20px; }

.pado { display: inline-block; padding-bottom: 20px; }

.index-bot { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #505050; }

.index-bot .index-bottom { width: 1000px; float: left; padding-top: 20px; color: #787272; }

.index-bot .index-bottom img { float: left; }

.index-bot .index-bottom .index-bot-div { width: 140px; float: left; padding-left: 10px; }

.index-bot .index-bottom .index-bot-div img { width: 140px; }

.index-bot .index-bottom .index-bot-div span { display: inline-block; padding-top: 25px; font-size: 13px; }

.index-bot .index-bottom ul { float: left; width: 660px; padding-left: 10px; }

.index-bot .index-bottom ul .index-bot-li-1 { width: 160px; height: 300px; float: left; font-size: 18px; color: white; }

.index-bot .index-bottom ul .index-bot-li-1 ul { width: 150px; padding: 0; padding-top: 30px; }

.index-bot .index-bottom ul .index-bot-li-1 ul li { width: 167px; font-size: 13px; color: #787272; }
