* { padding: 0; margin: 0; }

a { text-decoration: none; color: black; }

ul { list-style: none; padding: 0; }

body { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #e9e5e579; }

#index-i { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border-style: none none solid none; border: 2px solid rgba(128, 128, 128, 0.329); background: white; }

.index-top { width: 1000px; float: left; }

.index-top .index-top-1 { width: 1000px; padding: 10px 0; float: left; }

.index-top .index-top-1 .index-top-a { float: left; }

.index-top .index-top-1 .index-top-a div { float: left; }

.index-top .index-top-1 .index-top-a div img { width: 150px; }

.index-top .index-top-1 .index-top-a ul { float: left; }

.index-top .index-top-1 .index-top-a ul li { font-size: 18px; width: 50px; float: left; padding: 30px 0 0 0; margin-left: 50px; }

.index-top .index-top-1 .index-top-a ul li:nth-child(3) a { color: red; }

.index-top .index-top-1 .index-top-b { padding-top: 31px; float: right; }

.index-top .index-top-1 .index-top-b .index-top-b-magnifier { width: 50px; float: left; }

.index-top .index-top-1 .index-top-b .index-top-b-magnifier img { width: 30px; }

.index-top .index-top-1 .index-top-b .index-top-b-input { float: left; }

.index-top .index-top-1 .index-top-b .index-top-b-input input { width: 60px; height: 30px; border: 1px solid red; border-radius: 5px; background-color: white; color: red; }

.guid-product { width: 1000px; }

.guid-product-1 { width: 1000px; padding: 10px 0; font-size: 12px; color: gray; }

.guid-product-2 { width: 700px; float: left; background: white; margin-bottom: 2px; border-radius: 5px; }

.guid-product-2 .guid-product-3 { padding: 0 20px 20px; }

.guid-product-2 .guid-product-3 .guid-product-4 { width: 100%; display: inline-block; line-height: 70px; font-size: 24px; }

.guid-product-2 .guid-product-3 .guid-product-5 { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; color: gray; }

.guid-product-2 .guid-product-3 .guid-product-5 .guid-product-tx { width: 100px; height: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.guid-product-2 .guid-product-3 .guid-product-5 .guid-product-tx div { width: 50px; height: 50px; border: 1px solid; border-radius: 100%; overflow: hidden; float: left; }

.guid-product-2 .guid-product-3 .guid-product-5 .guid-product-time { width: 100px; }

.pato { padding-top: 20px; }

.pado { padding-bottom: 20px; }

.patd { padding: 20px 0; }

.guid-product-33 { width: 660px; padding: 20px; float: left; background: white; border-radius: 5px; }

.guid-product-33 .guid-product-text { width: 100%; font-size: 14px; }

.guid-product-33 img { width: 660px; }

.guid-product-33 .guid-product-nb { width: 660px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; font-size: 18px; font-weight: 600; padding: 3px 0; }

.guid-product-Lamy { width: 100%; font-size: 14px; }

.color { color: gray; }

.guid-product-right { width: 250px; height: 120px; float: right; background: white; border: 1px solid #726e6e63; border-radius: 5px; }

.guid-product-right .guid-product-2-left { width: 124px; height: 120px; float: left; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; border: 1px solid #726e6e63; border-style: none solid none none; }

.guid-product-right .guid-product-2-left .guid-product-xin { padding-bottom: 5px; }

.guid-product-right .guid-product-2-right { width: 50%; height: 120px; float: right; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.guid-product-right .guid-product-2-right .guid-product-share { padding-bottom: 5px; }

.index-bot { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #505050; }

.index-bot .index-bottom { width: 1000px; float: left; padding-top: 20px; color: #787272; }

.index-bot .index-bottom img { float: left; }

.index-bot .index-bottom .index-bot-div { width: 140px; float: left; padding-left: 10px; }

.index-bot .index-bottom .index-bot-div img { width: 140px; }

.index-bot .index-bottom .index-bot-div span { display: inline-block; padding-top: 25px; font-size: 13px; }

.index-bot .index-bottom ul { float: left; width: 660px; padding-left: 10px; }

.index-bot .index-bottom ul .index-bot-li-1 { width: 160px; height: 300px; float: left; font-size: 18px; color: white; }

.index-bot .index-bottom ul .index-bot-li-1 ul { width: 150px; padding: 0; padding-top: 30px; }

.index-bot .index-bottom ul .index-bot-li-1 ul li { width: 167px; font-size: 13px; color: #787272; }
