*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
}
#index-i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: none none solid none;
    border: 2px solid rgba(128, 128, 128, 0.329);
}
// 导航栏
    .index-top{
        width: 1000px;
        float: left;
        .index-top-1{
            width: 1000px;
            padding: 10px 0;
            float: left;
            .index-top-a{
                
                float: left;
                div{
                    float: left;
                    img{
                        width: 150px;
                    }
                }
                ul{
                    float: left;
                    li{
                        font-size: 18px;
                        width: 50px;
                        float: left;
                        padding: 30px 0 0 0;
                        margin-left: 50px;
                    }
                    li:nth-child(3){
                        a{
                            color: red;
                        }
                    }
                }
            }
            .index-top-b{
                padding-top: 31px;
                float: right;
                .index-top-b-magnifier{
                    width: 50px;
                    float: left;
                    img{
                        width: 30px;
                    }
                }
                .index-top-b-input{
                    float: left;
                    input{
                        width: 60px;
                        height: 30px;
                        border: 1px solid red;
                        border-radius: 5px;
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
    }

// 标题
.index-guid{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .index-guid-1{
        padding: 20px 0;
        font-size: 40px;
    }
    .index-guid-2{
        width: 300px;
        div{
            width: 150px;
            padding: 5px 0;
            float: left;
            text-align: center;
        }
    }
}
.index-guid-red{
    border-bottom: 4px solid red;
}
.guid-box{
    width: 100%;
    float: left;
    background: #e9e5e579;
    display: flex;
    justify-content: center;
}

.guid-box-ul{
    width: 1000px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    
}   
.guid-box-li{
    width: 220px;
    height: 236.4px;
    float: left;
    background: white;
    margin-bottom: 30px;
    border-radius: 5px;
    // overflow: hidden;
    position: relative;
    .guid-box-img{
        width: 220px;
        height: 130px;
    }
    .guid-box-span{
        display: inline-block;
        width: 200px;
        height: 60px;
        font-size: 14px;
        padding: 0 10px;
        
    }
    .guid-box-div1{
        width: 220px;
        float: left;
        padding: 10px 0;
        div{
            width: 60px;
            float: right;
        }
    }
}

.guid-box-1-xin{
    color: red;
    font-weight: 600;
    img{
        width: 20px;
    }
}
.guid-box-1-xin-2{
    color: red;
    font-weight: 600;
    img{
        width: 20px;
    }
}
.guid-box-qu{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.guid-box-ul-2{
    width: 1000px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    
}  

// 底部
.index-bot{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #505050;
    .index-bottom{
        width: 1000px;
        float: left;
        padding-top: 20px;
        color: #787272;
        img{
            float: left;
        }
        .index-bot-div{
            width: 140px;
            float: left;
            padding-left: 10px;
            img{
                width: 140px;
            }
            span{
                display: inline-block;
                padding-top: 25px;
                font-size: 13px;
            }
        }
        ul{
            float: left;
            width: 660px;
            padding-left: 10px;
            .index-bot-li-1{
                width: 160px;
                height: 300px;
                float: left;
                font-size: 18px;
                color: white;
                ul{
                    width: 150px;
                    padding: 0;
                    padding-top: 30px;
                    li{
                        width: 167px;
                        font-size: 13px;
                        color: #787272;
                    }
                }
            }
        }
    }
}


.guid-box-dic1{
    width: 180px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 245px;
    position: absolute;
    left: 20px;
    border-style: none none solid none;
    background: white;
    z-index: 1;
}
.guid-box-dic2{
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    height: 241px;
    position: absolute;
    left: 10px;
    border-style: none none solid none;
    background: white;
    z-index: 2;
}
.guid-box-dic3{
    width: 220px;
    border:1px solid grey;
    border-radius: 5px;
    background: white;
    float: left;
    border-style: none none solid none;
    position: absolute;
    z-index: 3;
}