*{
    padding: 0;
    margin: 0;
}
.clear{
    clear: both;
    height: 0%;
    width: 0%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
}
#index-i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// 导航栏
    .index-top{
        width: 1000px;
        float: left;
        .index-top-1{
            width: 1000px;
            padding: 10px 0;
            float: left;
            .index-top-a{
                
                float: left;
                div{
                    float: left;
                    img{
                        width: 150px;
                    }
                }
                ul{
                    float: left;
                    li{
                        font-size: 18px;
                        width: 50px;
                        float: left;
                        padding: 30px 0 0 0;
                        margin-left: 50px;
                    }
                    li:nth-child(4){
                        a{
                            color: red;
                        }
                    }
                }
            }
            .index-top-b{
                padding-top: 31px;
                float: right;
                .index-top-b-magnifier{
                    width: 50px;
                    float: left;
                    img{
                        width: 30px;
                    }
                }
                .index-top-b-input{
                    float: left;
                    input{
                        width: 60px;
                        height: 30px;
                        border: 1px solid red;
                        border-radius: 5px;
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
        overflow: hidden;
    }

.index-2{
    width: 100%;
    height: 300px;
    background: url(../素材/图片/css/img/original.jpg) -200px ;
    display: flex;
    justify-content: center;
    overflow: hidden;
    .index-2-a{
        width: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .index-xiaobei{
            width: 315px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .index-yin{
                color: white;
                font-size: 34px;
            }
            .index-ren{
                width: 100%;
                float: left;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                div{
                    padding: 5px 10px;
                    margin-right: 10px;
                    background: rgba(255, 255, 255, 0.253);
                    color: white;
                    float: left;
                }
            }
            .index-shijian{
                width: 100%;
                float: left;
                font-size: 18px;
                color: white;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                overflow: hidden;
            }
            input{
                width: 250px;
                height: 50px;
                font-size: 20px;
                background: red;
                color: white;
                border: none;
                border-radius: 3px;
                margin-top: 20px;
                overflow: hidden;
            }
        }
        
    }
}
.group{
    width: 100%;
    height: 100px;
    background: #f0f0f0;
    padding-top: 20px;
    div{
        :nth-child(1){
            width: 70px;
            font-size: 30px;
            font-weight: bold;
        }
        height: 80px;
        border-left: 8px solid red;
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0% auto;
        span{
            margin-left: 20px;
            img{
                width: 30px;
                height: 50px;
                margin-bottom: 10px;
            }
        }
    }
}
.box{
    width: 1000px;
    margin: 0% auto;
    .leftBox{
        width: 700px;
        *{
            margin-bottom: 40px;
        }
    }
    .title{
        margin:  40px 0;
        font-size: 25px;
        border-left: 5px solid red;
        padding-left: 5px;
    }
    p{
        font-size: 30px;
        color: red;
    }
    .title1{
        color: #007cb8;
    }
    .title2{
        font-size: 20px;
        color: red;
        margin-bottom: 10px;
    }
    .lc{
        font-size: 20px;
        color: black;
        margin-bottom: -30px;
    }
    .lc1{
        @extend .lc;
        margin-bottom: 0px;
    }
}
.title3{
    font-weight: bold;
    font-size: 30px;
    margin-top: 40px;

}
#hot{
    margin: 40px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .tit{
        color: red;
    }
}
.banner{
    width: 1000px;
}
.leftBox,.rightBox{
    float: left;
}
.rightBox{
    width: 280px;
    margin-left: 20px;
    *{
        margin: 0% auto;
    }
    #button{
        border-radius: 10px;
        margin-top: 30px;
        width: 200px;
        background: red;
        color: white;
        line-height: 50px;
        text-align: center;
    }
    h2{
        color: black;
    }
}
.con2{
    font-size: 15px;
    color: gray;
}

.bottom{
    width: 100%;
    background: #505050;
    .content{

        div{
            li{
                margin-bottom: 20px;
            }
            color: #a7a4a5;
            font-size: 11px;
            width: 160px;
            span{
                display: inline-block;
                font-size: 20px;
                color: white;
                margin-bottom: 30px;
            }
            .yqlj>li{
                margin-bottom: -30px;
                span{
                    width: 50%;
                    color: #a7a4a5;
                    font-size: 11px;
                }
            }
            .gmgl>li{
                margin-bottom: 0px;
            } 
        } 
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        width: 1100px;
        margin: 0% auto;
        overflow: hidden;
    }
    #end{
        margin-top: 80px;
        padding-bottom: 10px;
        text-align: center;
        color: #a7a4a5;
    }
}
.goods{
    p{
        height: 30px;
        font-weight: bold;
        margin-left: 10px;
        font-size: 12px;
    }
    #goodsPri{
        margin-left: 10px;
        color: red;
        font-size: 20px;
    }
    img{
        width: 230px;
        height: 150px;
        border-radius: 5px 5px 0px 0px;
    }
    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        div{
            line-height: 30px;
            width: 50%;
            justify-content: end;
            margin-right: 10px;
            span{
                color: #a7a4a5;    
            }
        }
    .like{
        position: relative;
        top: 8px;
        width: 15px;
        height: 15px
    }
    }
    float: left;
    background: white;
    border-radius: 5px;
    width: 230px;
    height: 230px;
    margin: 10px;
    overflow: hidden;
}

