*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
    padding: 0;
}
#index-i{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// 导航栏
    .index-top{
        width: 1000px;
        float: left;
        .index-top-1{
            width: 1000px;
            padding: 10px 0;
            float: left;
            .index-top-a{
                
                float: left;
                div{
                    float: left;
                    img{
                        width: 150px;
                    }
                }
                ul{
                    float: left;
                    li{
                        font-size: 18px;
                        width: 50px;
                        float: left;
                        padding: 30px 0 0 0;
                        margin-left: 50px;
                    }
                    li:nth-child(1){
                        a{
                            color: red;
                        }
                    }
                }
            }
            .index-top-b{
                padding-top: 31px;
                float: right;
                .index-top-b-magnifier{
                    width: 50px;
                    float: left;
                    img{
                        width: 30px;
                    }
                }
                .index-top-b-input{
                    float: left;
                    input{
                        width: 60px;
                        height: 30px;
                        border: 1px solid red;
                        border-radius: 5px;
                        background-color: white;
                        color: red;
                    }
                }
            }
        }
    }

.index-2{
    width: 100%;
    height: 300px;
    background: url(../img/original.jpg) -200px ;
    display: flex;
    justify-content: center;
    .index-2-a{
        width: 1000px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        .index-xiaobei{
            width: 315px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            animation: translate 2s ;
            .index-yin{
                color: white;
                font-size: 34px;
            }
            .index-ren{
                width: 100%;
                float: left;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
                div{
                    padding: 5px 10px;
                    margin-right: 10px;
                    background: rgba(255, 255, 255, 0.253);
                    color: white;
                    float: left;
                }
            }
            .index-shijian{
                width: 100%;
                float: left;
                font-size: 18px;
                color: white;
                display: flex;
                justify-content: flex-end;
                margin-top: 20px;
            }
            input{
                width: 250px;
                height: 50px;
                font-size: 20px;
                background: red;
                color: white;
                border: none;
                border-radius: 3px;
                margin-top: 20px;
            }
        }

    }
}

@keyframes translate(){
    0%{
        transform:translate(315px,210px);
    }
    100%{
        ttransform: translate(0);
    }



}

// 热门试用
.index-re{
    width: 100%;
    display: flex;
    justify-content: center;
    .index-re-men{
        width: 1000px;
        position: relative;
        .index-re-shou{
            width: 100%;
            font-size: 18px;
            padding: 15px 0;
        }
        .index-re-tu{
            height: 300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            ul{
                width: 1000px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    width: 220px;
                    position: relative;
                    border: 1px solid rgba(180, 173, 173, 0.377);
                    float: left;
                    border-radius: 4px;
                    margin: 0 15px;
                    
                    img{width: 220px;}
                    .index-re-text{
                        width: 100%;
                        font-size: 18px;
                        display: flex;
                    }
                    div{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        span{
                            padding: 3px 10px;
                            background: white;
                            border: 1px solid red;
                            color: red;
                            border-radius: 3px;
                        }
                    }
                    .index-re-1{
                        display: inline-block;
                        width: 100%;
                        font-size: 16px;
                        color: red;
                        display: flex;
                        justify-content: center;
                        padding: 5px 0;
                    }
                    .index-re-2{
                        display: inline-block;
                        width: 100%;
                        font-size: 16px;
                        color: red;
                        display: flex;
                        justify-content: center;
                        padding: 5px 0;
                    }
                    .index-re-3{
                        position: absolute;
                        width: 40px;
                        top: 0;
                        right: 0;
                        border: 1px solid red;
                        background: red;
                        font-size: 13px;
                        color: white;
                        border-radius: 3px;
                    }
                }
            }
        }
        .index-re-left{
            position: absolute;
            width: 80px;
            height: 356px;
            top: 0; left: -80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .index-re-right{
            position: absolute;
            width: 80px;
            height: 356px;
            right: -80px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// 报告精选
.index-bao{
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgba(172, 160, 160, 0.212);
    .index-bao-a{
        width: 1000px;
        .index-bao-b{
            width: 100%;
            padding: 10px 0;
            float: left;
            .index-bao-top{
                float: left;
                font-weight: 600;
                font-size: 18px;
            }
            .index-bao-right{
                float: right;
                color: red;
            }
        }
        .index-bao-c{
            width: 1000px;
            float: left;
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                li{
                    width: 220px;
                    background: white;
                    border-radius: 4px;
                    float: left;
                    margin-bottom: 20px;
                    overflow: hidden;
                    .index-bao-img{
                        width: 220px;
                        height: 130px;
                    }
                    .index-bao-text{
                        width: 100%;
                        margin: 10px 0;
                        font-size: 14px;
                    }
                    .index-bao-1{
                        width: 220px;
                        margin-top: 20px;
                        display: flex;
                        justify-content: space-between;
                        color: rgba(151, 142, 142, 0.438);
                        margin-bottom: 10px;
                        .index-bao-1-1{
                            display: inline-block;
                            width: 100px;
                       }
                        .index-bao-1-2{
                            display: inline-block;
                            width: 60px;
                            img{
                                width: 15px;
                            }
                        }
                    }

                }   
            }
        }
    }
}
// 导购精选
.index-bug{
    width: 100%;
    display: flex;
    justify-content: center;
    .index-bao-a{
        width: 1000px;
        // display: flex;
        // justify-content: center;
        .index-bao-b{
            width: 1000px;
            padding: 10px 0;
            float: left;
            .index-bao-top{
                float: left;
                font-weight: 600;
                font-size: 18px;
            }
            .index-bao-right{
                float: right;
                color: red;
            }
        }
        .index-bug-c{
            width: 1000px;
            ul{
                width: 1000px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-content: center;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px ;
                li{
                    width: 220px;
                    border: 1px solid rgba(128, 128, 128, 0.438);
                    float: left;
                    border-radius: 4px;
                    .index-bug-img{
                        width: 220px;
                        height: 130px;
                        
                    }
                    .index-bug-text{
                        width: 220px;
                        font-size: 14px;
                        margin: 10px 0;
                    }
                    .index-bug-1{
                        width: 220px;
                        margin: 10px 0;
                        float: left;
                        .index-bug-1-1{
                            width: 60px;
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
.index-bao-play-1{
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    .index-bao-play-1-li{
        width: 220px;
        float: left;
        border: 1px solid rgba(155, 147, 147, 0.438);
        margin-bottom: 10px;
        .index-bao-play-1-img{
            width: 220px;
            height: 125px;
        }
        .index-bao-play-1-span-1{
            display: inline-block;
            width: 220px;
            height: 40px;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
        .index-bao-play-1-span-2{
            display: inline-block;
            width: 220px;
            font-size: 13px;
        }
        .index-bao-play-1-div{
            width: 220px;
            padding: 10px 0;
            span{
                display: inline-block;
                width: 60px;
                color: red;
            }
            div{
                width: 50px;
                float: right;
            }
        }
    }
}

.index-bao-play-more{
    width: 1000px;
    display: flex;
    justify-content: center;
    .index-bao-play-more-1{
        line-height: 50px;
        color: red;
    }   
}
// 底部
.index-bot{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #505050;
    .index-bottom{
        width: 1000px;
        float: left;
        padding-top: 20px;
        color: #787272;
        img{
            float: left;
        }
        .index-bot-div{
            width: 140px;
            float: left;
            padding-left: 10px;
            img{
                width: 140px;
            }
            span{
                display: inline-block;
                padding-top: 25px;
                font-size: 13px;
            }
        }
        ul{
            float: left;
            width: 660px;
            padding-left: 10px;
            .index-bot-li-1{
                width: 160px;
                height: 300px;
                float: left;
                font-size: 18px;
                color: white;
                ul{
                    width: 150px;
                    padding: 0;
                    padding-top: 30px;
                    li{
                        width: 167px;
                        font-size: 13px;
                        color: #787272;
                    }
                }
            }
        }
    }
}


